<h1>Passwort ändern für <%= h @user.name+'('+@user.login+')' %></h1>
<%= error_messages_for :user %>
<% form_for :user, :url => { :action => 'change_password', :id => @user } do |f| %>

    <p><label for="password">Password</label><br/>
        <%= f.password_field :password %></p>

    <p><label for="password_confirmation">Confirm Password</label><br/>
        <%= f.password_field :password_confirmation %></p>
    <p>
        <%= submit_tag "Ändern", :name => "confirm" %>
        <%= submit_tag "Zurück", :name => "cancel" %>
    </p>
<% end -%>