<div id="logo_bar" class="prepend-top">
  <p class="small">
    Das Projekt „Moabiter Kochkultur“ wird finanziert aus dem Programm „Soziale Stadt“ und dem Programm "Stadtumbau
    West" mit Mitteln der Europäischen Union, des Bundes und der Senatsverwaltung für Stadtentwicklung, Berlin.
  </p>
  <a href="http://www.europa.eu/" target="_blank" title="Europäische Union">
    <%= image_tag "foerderlogos/EU_klein.gif", :alt=>"Logo Europäische Union", :id=>"logo_europa" %>
  </a>
  <a href="http://www.berlin.de/strukturfonds/index.html" target="_blank" title="Europäischer Fonds für regionale Entwicklung">
    <%= image_tag "foerderlogos/EFRE_ohne_Motto_klein.jpg", :alt=>"Logo Europäischer Fonds für regionale Entwicklung", :id=>"logo_efre" %>
  </a>
  <a href="http://www.bundesregierung.de/" target="_blank" title="Bundesregierung">
    <%= image_tag "foerderlogos/Die_Bundesregierung_klein.gif", :alt=>"Logo Bundesregierung", :id=>"logo_bund" %>
  </a>
  <a href="http://www.sozialestadt.de/" target="_blank">
    <%= image_tag 'foerderlogos/Soziale_Stadt_Farbe_klein.gif', :alt => "Logo Soziale Stadt", :id => "logo_sozstadt" %>
  </a>
  <a href="http://www.stadtumbau-berlin.de/" target="_blank">
    <%= image_tag 'foerderlogos/Stadtumbau_Berlin_klein.gif', :alt => "Logo Stadtumbau", :id => "logo_stadtumbau" %>
  </a>
  <a href="http://www.berlin.de/ba-mitte/" target="_blank" title="Bezirk Mitte">
    <%= image_tag "foerderlogos/Berlin_Mitte_klein.gif", :alt=>"Logo Bezirk Mitte", :id=>"logo_mitte" %>
  </a>
  <a href="http://moabitwest.de/" target="_blank" title="Quartier Moabit West">
    <%= image_tag "foerderlogos/QM_Moabitwest_klein.png", :alt=>"Logo Quartier Moabit West", :id=>"logo_moabitwest" %>
  </a>
  <a href="http://www.netzwerk-moabit.de/" target="_blank" title="Unternehmensnetzwerk Moabit">
    <%= image_tag "foerderlogos/UN-moabit_klein.gif", :alt=>"Logo Unternehmensnetzwerk Moabit", :id=>"logo_un_moabit" %>
  </a>  
</div>
