<div class="spacer"><%= image_tag 'None.gif', :width => 1, :height => 20 %></div>
<div class="span-3">&nbsp;</div>
<div class="span-16">
  <div class="spacer">&nbsp;</div>
  <h2>Quartiersgeflüster.</h2>

  <p>Das Quartiersmanagement-Gebiet bildet den westlichen Rand <br/>
    des Bezirkes Mitte (Ortsteil Moabit) und besteht aus einzelnen <br/>
    Wohninseln:
  </p>

  <p>
  <ul style="list-style-image:url(/images/bullet_star.png);font-size:1.2em;">
    <li>dem Beusselkiez östlich und westlich der Rostocker Straße</li>
    <li>dem Waldstraßenkiez (incl. der Bereiche an der Oldenburger<br/> Straße) östlich der Beusselstraße</li>
    <li>sechs Wohnblöcken südlich der Turmstraße und</li>
    <li>dem Huttenkiez westlich des Industriegebietes Martinickenfelde.</li>
  </ul>
  </p>

  <p>
    Der Standort Moabit West - Zu den Standortvorteilen:
  <ul style="list-style-image:url(/images/bullet_star.png);font-size:1.2em;">
    <li>Zentrale Lage unweit der City West</li>
    <li>Hervorragende Verkehrsanbindung über Flughafen Tegel, Hauptbahnhof und Regionalbahnhof
      Zoologischer Garten, S-Bahn-Anschluss, Nähe zur Autobahn 100
    </li>
    <li>Nähe zu bedeutenden Einrichtungen der Forschung, Wissenschaft und Lehre (TU Berlin,
      TFH Berlin, Produktionstechnisches Zentrum Berlin, Fraunhofer-Institute, etc.)
    </li>
    <li>Nachbarschaft zu zahlreichen Unternehmen, insbesondere aus den Branchen
      Informationstechnologie, Mobilität und Produktion ...
    </li>
  </ul>
  </p>
  <p>
    ... mehr auf der Seite
    des <%= link_to("Unternehmensnetzwerk Moabit", "http://www.netzwerk-moabit.de/Wirtschaftsstandort/St%C3%A4rkevonMoabitWest.aspx") %>
    !
  </p>

  <p class="prepend-top">
    weitere nützliche Links:
  <ul style="list-style-image:url(/images/bullet_go.png);font-size:1.2em;">
    <li><%= link_to("Businessplanwettbewerb für Moabit West", "http://www.mikrobpw.de/") %></li>
    <li><%= link_to("Unterstützung für GründerInnen und UnternehmerInnen mit Migartionshintergrund", '/moabitwest/quartier1') %></li>
    <li><%= link_to("Bund-Länder-Programm \"Aktive Stadt- und Ortsteilzentren\" der Senatsverwaltung für Stadtentwicklung", '/moabitwest/quartier2') %></li>
    <li><%= link_to("Moabiter Kochkultur - ein Gourmetführer für Moabit (in Kürze verfügbar)", "http://moabiter-kochkultur.de/") %></li>
  </ul>
  </p>
  <div class="spacer"><%= image_tag 'None.gif', :width => 1, :height => 20 %></div>
</div>
<div class="span-5 pull-5 last">
  <a href="/images/moa_quartier2.jpg" rel="lightbox"><%= image_tag 'moa_quartier_klein.jpg' %></a>
</div>