<div class="spacer"><%= image_tag 'None.gif', :width => 1, :height => 20 %></div>
<div class="span-2">&nbsp;</div>
<div class="span-20">
  <%= image_tag 'moa2.jpg', :width => 280, :height => 210, :style=>"margin-left: 10px;" %>
  <%= image_tag 'moa1.jpg', :width => 200, :height => 210, :style=>"margin-left: -3px;" %>
  <%= image_tag 'moa3.jpg', :width => 280, :height => 210, :style=>"margin-left: -4px;" %>
</div>
<div class="span-2 last">&nbsp;</div>
<div class="span-24">
  <div class="span-3">&nbsp;</div>
  <div class="span-16">
    <h2 class="prepend-top">Büro sucht Arbeit. Laden sucht Idee.</h2>

    <h3>Das Quartier MoabitWest hat noch Räume frei!</h3>

    <p>Dieses Portal der Agentur StadtMuster informiert über freie Gewerbeflächen und Wissenswertes aus dem
      Quartier MoabitWest. Im Rahmen des Projektes „Standortmarketing MoabitWest“ werden in enger Kooperation mit dem
      <%= link_to("Quartiersmanagement Moabit West","http://moabitwest.de/")%>, Raumsuchende, Vermieter und Eigentümer
      beraten und unterstützt.</p>

    <br/>

    <p class="prepend-top" style="line-height:2;">Wir informieren Sie über das Quartier,<br/>
    vermitteln und stellen die Kontakte zwischen den interessierten Parteien her,<br/>
    erteilen Auskünfte über notwendige Informationen und Konditionen,<br/>
    vereinbaren Besichtigungstermine,<br/>
    bieten moderierte Begehungen des Quartiers an,<br/>
    unterstützen Sie bei Ihrer Unternehmensgründung,<br/>
    ... um eine für alle Seiten vorteilhafte, optimale und unbürokratische Lösung zu erzielen.</p>
  </div>
</div>
<div class="span-5 last">&nbsp;</div>

<div class="span-24">
  <div class="span-2">&nbsp;</div>
  <div class="span-19 box prepend-top">
    <div id="logo_bar">
      <p class="small">Das Projekt „Standortmarketing Moabit West“ wird finanziert aus dem Programm „Soziale Stadt“ mit Mitteln der
        Europäischen Union, des Bundes und der Senatsverwaltung für Stadtentwicklung, Berlin.</p>
      <a href="http://www.sozialestadt.de" target="_blank">
        <%= image_tag 'Soziale_Stadt_Farbe.gif', :alt => "Logo Soziale Stadt", :id => "logo_sozstadt" %>
      </a>
      <a href="http://www.europa.eu.int" target="_blank" title="Europäische Union">
        <%= image_tag "Logo_EU.gif", :alt=>"Logo Europäische Union", :id=>"logo_europa" %>
      </a>
      <a href="http://www.bundesregierung.de" target="_blank" title="Bundesregierung">
        <%= image_tag "Logo_Die_Bundesregierung.gif", :alt=>"Logo Bundesregierung", :id=>"logo_bund" %>
      </a>
      <a href="http://www.berlin.de/strukturfonds/index.html" target="_blank" title="Europäischer Fonds für regionale Entwicklung">
        <%= image_tag "efre_ohne_Motto.jpg", :alt=>"Logo Europäischer Fonds für regionale Entwicklung", :id=>"logo_efre" %>
      </a>
      <a href="http://www.berlin.de" target="_blank" title="Stadt Berlin">
        <%= image_tag "berlin.gif", :alt=>"Logo Stadt Berlin", :id=>"logo_berlin" %>
      </a>
      <a href="http://www.berlin.de/ba-mitte/" target="_blank" title="Bezirk Mitte">
        <%= image_tag "logo_mitte.gif", :alt=>"Logo Bezirk Mitte", :id=>"logo_mitte" %>
      </a>
      <a href="http://moabitwest.de/" target="_blank" title="Quartier Moabit West">
        <%= image_tag "logo_moabitwest_qm.png", :alt=>"Logo Quartier Moabit West", :id=>"logo_moabitwest" %>
      </a>
    </div>
  </div>
  <div class="span-2 last">&nbsp;</div>
</div>