<div class="spacer"><%= image_tag 'None.gif', :width => 1, :height => 20 %></div>
<div class="span-3">&nbsp;</div>
<div class="span-18">
  <fieldset class="prepend-top">
    <p>
      <label>Von:</label>
      <%= h @contact.salutation %> <%= h @contact.name %>
    </p>

    <p>
      <label>Email:</label>
      <%= mail_to(@contact.email, nil, :encode => "javascript") %>
    </p>

    <p>
      <label>Ihre Nachricht:</label>
      <%= text_area_tag(:message, @contact.message, {:rows => 8, :cols => 40, :readonly => 1}) %>
    </p>
  </fieldset>
  <%= link_to 'Alle Nachrichten auflisten', contacts_path if current_user && current_user.is_admin? %>
  <div class="spacer"><%= image_tag 'None.gif', :width => 1, :height => 54 %></div>
</div>
<div class="span-3 last">&nbsp;</div>
