<% form_for(@tag) do |f| %>
    <%= f.error_messages %>
    <fieldset>
      <p>
        <%= f.label :name, "Name *" %>
        <%= f.text_field :name, :size => 50, :class => "title" %>
      </p>
      <p>
        <%= f.label :tag_list %>
        <%= f.text_field :tag_list, :size => 50, :class => "title" %>
      </p>
      <p>Alle Tags werden bestimmten Kategorien zugeordnet für die Auflistung in der rechten Box.<br/>
        Es gibt aktuell 3 mögliche Werte, von denen genau einer(!) hier eingetragen werden sollte:<br/>
        tag_location bei z.B: Moabit West, Turmstr.<br/>
        tag_type bei z.B. bar, kneipe, cafe<br/>
        tag_kind bei z.B. deutsch, galizisch, mesopotamisch<br/>
      </p>
      <p>
        <%- if action_name=='edit' -%>
            <%= f.submit 'Update' %>
            <%= link_to('Abbrechen', tags_path) %> |
        <%- else -%>
            <%= f.submit 'Speichern' %>
        <%- end -%>
        <%= link_to('Zurück zur Liste', {:action => :index}) %>
      </p>
    </fieldset>
<% end %>
